{% extends 'first/base.html' %}
{% load l10n %}


{% block title %} {{ product.title }} {% endblock title %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="/">Главная</a></li>
    <li><a href="{% url 'all_products' %}">Каталог</a></li>
    {% for parent in product.category.get_ancestors %}
        <li><a href="{% url 'catalog_category' parent.id %}">{{ parent.title }}</a></li>
    {% endfor %}
    <li><a href="{% url 'catalog_category' product.category.id %}">{{ product.category.title }}</a></li>
    <li class="active">{{ product.title }}</li>
</ol>
{% endblock breadcrumbs %}

{% block content %}
<div class="catalog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="pull-left" style="margin: 0;">{{ product.title }}</h1>
            </div>
        </div>
        <hr>
        <div class="row" style="margin-bottom: 30px;">
            <div class="col-md-4">
                <img class="img-responsive img-thumbnail" src="{{ product.get_medium_image }}" alt="{{ product.title }}">
                <div class="row">
                    {% for image in images %}
                        <div class="col-md-3"><img src="{{ MEDIA_URL }}{{ image.image }}" class="img-responsive"></div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-8">
                {{ product.text | safe | truncatewords_html:20}}
                <div style="font-size: 40px; font-weight: 700; color: #d33; margin-bottom: 20px;">{{ product.get_price_in_main_currency | floatformat:2 }} грн/{{ product.unit.short_name }}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{ product.text | safe}}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Файл</th>
                            <th>Дата обновления</th>
                        </tr>
                    </thead>
                    {% for price in product.get_files %}
                        <tr>
                            <td><a href="{{ price.file.url }}" target="_blank">{{ price.title }}</a></td>
                            <td>{{ price.updated }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        {% for item in product.get_conditions %}
        <div class="row">
            <div class="col-md-12">{{ item.desc }}</div>
        </div>
        {% endfor %}
    </div>
</div>



    <hr>

    {% for image in product.get_all_thumb %}
        {{ image }}
    {% endfor %}
{% endblock content %}