{% extends 'first/base.html' %}
{% load l10n %}


{% block title %} {{ product.title }} {% endblock title %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="/">Главная</a></li>
    <li><a href="{% url 'all_products' %}">Каталог</a></li>
    {% for parent in product.category.get_ancestors %}
        <li><a href="{% url 'catalog_category' parent.id %}">{{ parent.title }}</a></li>
    {% endfor %}
    <li><a href="{% url 'catalog_category' product.category.id %}">{{ product.category.title }}</a></li>
    <li class="active">{{ product.title }}</li>
</ol>
{% endblock breadcrumbs %}

{% block content %}
<div class="catalog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="pull-left" style="margin: 0;">{{ product.title }}</h1>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <img class="img-responsive img-thumbnail" src="{{ product.get_medium_image }}" alt="{{ product.title }}" style="float: left; max-width: 300px; margin-right: 10px; margin-bottom: 10px;">
                {{ product.text | safe}}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Файл</th>
                            <th>Дата обновления</th>
                        </tr>
                    </thead>
                    {% for price in product.get_files %}
                        <tr>
                            <td><a href="{{ price.file.url }}" target="_blank">{{ price.title }}</a></td>
                            <td>{{ price.updated }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        {% for item in product.get_conditions %}
        <div class="row">
            <div class="col-md-12">
                <h2>{{ item }}</h2>
                {{ item.desc }}
                <hr>
            </div>
        </div>
        {% endfor %}
    </div>
</div>



    <hr>

    {% for image in product.get_all_thumb %}
        {{ image }}
    {% endfor %}
{% endblock content %}